## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.dbmdl
*.jfm

## Visual Studio
.vs/
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.psess
*.vsp
*.vspx
*.sap

## Rider
.idea/
*.sln.iml

## Docker
.docker/

## Environment Files
*.env
.env.*
!.env.example

## Logs
logs/
*.log
npm-debug.log*

## Dependencies
node_modules/
packages/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json